* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("https://img.freepik.com/free-vector/cute-rainbow-frame-vector-in-beige-background-cute-hand-drawn-style_53876-126112.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1722988800&semt=ais_hybrid") center/cover no-repeat;
}
body main {
  width: 960px;
  height: 600px;
  background: rgba(255, 39, 93, 0.3);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}
body main h1 {
  color: #fff;
}
body main #tweetTextArea {
  width: 100%;
  height: 80%;
  resize: none;
  border: 2px dashed #ff275d;
  border-radius: 8px;
  margin: 10px 0;
  padding: 10px;
  padding-left: 10px;
  font-size: 24px;
  color: #ff275d;
  background: rgba(255, 255, 255, 0.7);
}
body main #tweetTextArea:focus {
  outline: none;
}
body main #tweetButton {
  font-size: 22px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  transition: background 0.3s color 0.3s;
}
body main #tweetButton:hover {
  background: #ff275d;
  color: #fff;
}