* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .star-tating {
    display: flex;
    gap: 10px;
    background: #333;
    padding: 5px;
    border-radius: 5px;
    .stars .fa-star {
      cursor: pointer;
      &.active {
        color: yellow;
      }
    }
    .print {
      color: #fff;
    }
  }
}
