/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
il,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  clear: inherit;
}

/*variable*/

:root {
  --main-gray-color: #d1d1d1;
}

#container {
  width: 1920px;
  margin: 0 auto;
  position: relative;
}

/*--top navigation--*/

#top_navigation {
  width: 1098px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background-color: antiquewhite;
  margin: 0 auto;
}

/*lest_gnb*/
.left_gnb {
  display: flex;
  align-items: center;
  gap: 20px;
}

.left_gnb_first {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 10px;
  width: 84px;
}

#logo .fa-paw {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.category_title {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 4px;
}

.topNav {
  display: flex;
  gap: 60px;
  padding: 0 0 4px 30px;
}

.topNav .action {
  color: #000000;
  font-weight: bold;
}

.topNav > li {
  position: relative;
}

.topNav > li > a {
  color: var(--main-gray-color);
}

.topNav > li .lnb {
  width: 130px;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  text-align: center;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 15px 0 8px;
  border: 1px, solid var(--main-gray-color);
  opacity: 0;
  overflow: hidden;
}

.topNav > li .lnb a {
  display: inline-block;
  color: #000000;
  margin: 10px 5px;
  &:hover {
    color: #ff8fa0;
  }
}

/*right gnb*/
.right_gnb {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav_icon {
  width: 40px;
  height: 40px;
}

.fa-user {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  background: var(--main-gray-color);
  color: #fff;
  border-radius: 100%;
  cursor: pointer;
}

/*--background_img--*/
/*img_badge*/
#backgrond_img {
  width: 1920px;
  height: 774px;
  background-color: #d1d1d1;
  margin: 0 auto;
}

#top_banner {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(116, 0, 248);
}

.badge {
  text-transform: uppercase;
  font-size: 16px;
  padding: 3px 5px;
  background: #ff8fa0;
  border-radius: 15px;
}

/*top contents text*/
#top_contents {
  border: 1px solid rgb(24, 16, 92);
  margin: 80px auto;
  width: 1098px;
  color: #fff;
}

/*--item_cards--*/
#card_items ul {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  transform: translateY(-70px);
  li {
    width: 230px;
    height: 200px;
  }
}
