* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  height: 30px;
  background: #4e4e4e;
}
.container ul {
  display: flex;
  color: black;
}
.container .textInner {
  color: aliceblue;
}