* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --bg-color-white: #fff;
  --bg-color-black: #000;
  --bg-color-blue: #b1caef;
  --bg-color-yellow: #fff6f0;
}
