@import url(./reset.css);

/*==Desktop==*/
/*common*/
#container {
  width: 100%;
  overflow-x: hidden;
}

/*header \\ top_navigation*/
#top_navigation {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 2;
  background: #fff;

  #navigation {
    width: 800px;
    height: 60px;
    margin: 0 auto;
    text-align: center;

    .menu_list {
      padding: 18px 10%;
      justify-content: space-between;
      display: flex;
      align-items: center;
      li {
        font-family: "Titillium Web", sans-serif;
        font-size: 1rem;
        border-bottom: 1px solid transparent;
        &:hover {
          color: #6b0dde;
          border-bottom: 1px solid #6b0dde;
        }
      }
    }
  }
}

/*slide*/
#slide {
  margin-top: 60px;
  width: 100%;
  height: 650px;
  position: relative;
  border: 1px solid #f00;
  overflow: hidden;
}

.slide_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: var(--bg-color-white);
  img {
    width: 90%;
    filter: drop-shadow(0px 0px 3px #000);
  }
  h1 {
    transform: translateY(-30px);
    text-shadow: 0px 0px 3px rgb(0, 0, 0);
  }
}

.slide_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .slide_text {
  width: 1080px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .slide_text_inner {
    border: 1px solid rgb(0, 26, 255);
    text-align: center;
    color: var(--bg-color-white);
    img {
      z-index: 4;
      border: 1px solid #f00;
      width: 200px;
    }
  }
}

#silde ul {
  width: 100%;
  height: 900px;
}

.slide_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
