@import url(./reset.css);

/*=========Desktop=========*/
/*******common*******/
#container {
  width: 100%;
  overflow-x: hidden;
}

/*------header------*/
#top_navigation {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 2;
  background: #fff;

  #navigation {
    width: 800px;
    height: 60px;
    margin: 0 auto;
    text-align: center;

    .menu_list {
      padding: 18px 10%;
      justify-content: space-between;
      display: flex;
      align-items: center;
      li {
        font-family: "Titillium Web", sans-serif;
        font-size: 1rem;
        border-bottom: 1px solid transparent;
        &:hover {
          color: #6b0dde;
          border-bottom: 1px solid #6b0dde;
        }
      }
    }
  }
}

.mobile_menu_list {
  display: none;
}

.trigger {
  display: none;
}

/*------slide------*/
#slide {
  margin-top: 60px;
  height: 800px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.slide_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: var(--bg-color-white);
  img {
    width: 90%;
    filter: drop-shadow(0px 0px 3px #000);
  }
  h1 {
    transform: translateY(-30px);
    text-shadow: 0px 0px 3px rgb(0, 0, 0);
  }
}

.slide_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*------main denominator------*/

/*section_size*/
.inner {
  width: 1200px;
  height: 1050px;
  margin: 0 auto;
  position: relative;
}

/*illust_size*/

.illust {
  display: inline-block;
  width: 780px;
  height: 426px;
  .main_illust {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

/*bubble & text*/

.text_bubble {
  position: absolute;
  .text {
    height: 374px;
    width: 236px;
    .text_title {
      color: #a6a6a6;
      font-weight: 800;
      font-size: 1rem;
      text-transform: uppercase;
      text-align: right;
      margin: 5px 5px 10px;
    }
    .inner_text {
      font: normal 0.8rem/1.6 "Nanum Gothic", sans-serif;
    }
  }
}

.mobile_text_bubble {
  display: none;
}

/*------1. a bout me------*/

/**text&bubble&&illust**/
#aboutme_main {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  .main_box {
    position: relative;
    width: 100%;
    .illust {
      position: absolute;
      left: 30px;
      bottom: 380px;
    }
    .Abubble {
      right: 170px;
      top: 240px;
      .text {
        bottom: 0px;
        right: 0px;
        background: url(./img/text_box1.png) no-repeat;
        background-size: contain;
        padding: 10px 10px 10px 50px;
      }
    }
  }
}

/**back deco**/
#about_bgimg {
  .deco1 {
    position: absolute;
    height: 60px;
    width: 400px;
    transform: rotate(20deg) translate(150px, 620px);
  }
  .back1 {
    margin-top: 200px;
    width: 950px;
  }
}

/*------2.favorite ------*/

/**text&bubble&&illust**/
#favorite_main {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  .main_box {
    position: relative;
    width: 100%;
    .illust {
      position: absolute;
      right: 60px;
      top: 260px;
    }
    .Fbubble {
      left: 150px;
      top: 260px;
      .text {
        background: url(./img/text_box2.png) no-repeat center/100%;
        background-size: contain;
        padding: 10px 50px 10px 15px;
      }
    }
  }
}

/**back deco**/
#favorite_bgimg {
  .deco2 {
    width: 980px;
    bottom: 0;
    right: 50px;
    position: absolute;
    z-index: -2;
  }
  .back2 {
    position: absolute;
    z-index: -1;
    width: 780px;
    height: 450px;
    top: 200px;
    right: 20px;
    border: 16px solid var(--bg-color-yellow);
    background-color: #fff;
  }
}
/*------3.personality ------*/

/**text&bubble&&illust**/
#personality_main {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  .main_box {
    position: relative;
    width: 100%;
    .illust {
      position: absolute;
      left: 20px;
      bottom: 240px;
    }
    .Pbubble {
      right: 188px;
      bottom: 290px;
      .text {
        bottom: 0px;
        right: 0px;
        background: url(./img/text_box1.png) no-repeat center/100%;
        background-size: contain;
        padding: 10px 10px 10px 50px;
      }
    }
  }
}

/**back deco**/
#personality_bgimg {
  .decoF3 {
    width: 180px;
    top: 120px;
    transform: rotate(80deg);
    right: 300px;
    position: absolute;
    z-index: -2;
  }
  .deco3 {
    width: 240px;
    top: 120px;
    right: 200px;
    position: absolute;
    z-index: -2;
  }
  .back3 {
    width: 850px;
    bottom: 260px;
    /* margin: 400px 40px 10px 5px; */
    left: 0px;
    position: absolute;
    z-index: -1;
    /* background: url(./img/main3_back.png) no-repeat center/100%; */
  }
}

/*------4.Golas------*/
#goals {
  margin: 0 auto;
  .footer_inner {
    width: 1200px;
    height: 1600px;
    left: 50%;
    transform: translate(-50%, -400px);
    margin: 0 auto;
    position: absolute;
    background: linear-gradient(#ffffff00, #fffbf3af, #fff6e7);
    .footer_text {
      margin: 500px auto;
      height: 880px;
      width: 600px;
      text-align: center;
      background: url(./img/endtt.png) no-repeat center/100%;

      .Ftittle {
        font-size: 60px;
        font-weight: 800;
        line-height: 250px;
        color: var(--bg-color-white);
        text-shadow: 0 0 8px #d59d9d;
      }
      .inner_ftext {
        font-size: 30px;
        font-weight: 800;
        margin-top: 20px;
        color: var(--bg-color-white);
        text-shadow: 0 0 8px #d59d9d;
        p {
          margin-bottom: 100px;
        }
      }
    }
  }
}

/*=========mobile=========*/
@media screen and (max-width: 1100px) and (min-width: 320px) {
  #container {
    width: 100%;
  }
  #top_navigation {
    width: 100%;
    #navigation {
      width: 100%;
      padding: 0 10px;
      .menu_list {
        display: none;
      }

      /*-header-*/
      .mobile_menu_list {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: flex-end;
        padding-top: 80px;
        padding-right: 10px;
        position: fixed;
        top: 0;
        width: 190px;
        right: -190px;
        height: 100vh;
        background-color: var(--bg-color-white);
        a:hover {
          color: #6b0dde;
          border-bottom: 1px solid #6b0dde;
        }
      }
      .trigger {
        border: 1px solid #000;
        width: 30px;
        height: 20px;
        position: relative;
        display: block;
        span {
          display: block;
          width: 100%;
          height: 2px;
          background: var(--color-black);
          position: absolute;
          .action {
            background: var(--bg-color-white);
          }
          &:nth-child(1) {
            top: 0;
            left: 0;
          }
          &:nth-child(2) {
            top: 50%;
            left: 0;
            transform: translateY(-50%);
          }
          &:nth-child(3) {
            bottom: 0;
            left: 0;
          }
        }
      }
    }
  }

  #top_navigation {
    width: 100%;
    #navigation {
      width: 100%;
      padding: 0 10px;
      .menu_list {
        display: none;
      }
      .mobile_menu_list {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: flex-end;
        padding-top: 80px;
        padding-right: 10px;
        position: fixed;
        top: 0;
        width: 190px;
        right: -190px;
        height: 100vh;
        background-color: var(--bg-color-white);
        a:hover {
          color: #6b0dde;
          border-bottom: 1px solid #6b0dde;
        }
      }
      .trigger {
        border: 1px solid #000;
        width: 30px;
        height: 20px;
        position: relative;
        display: block;
        span {
          display: block;
          width: 100%;
          height: 2px;
          background: var(--color-black);
          position: absolute;
          .action {
            background: var(--bg-color-white);
          }
          &:nth-child(1) {
            top: 0;
            left: 0;
            .action {
              top: 50%;
              left: 0;
              transform: rotate(45deg);
            }
          }
          &:nth-child(2) {
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            .action {
              opacity: 0;
            }
          }
          &:nth-child(3) {
            bottom: 0;
            left: 0;
            .action {
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }

  /*slide*/
  #slide {
    width: 100%;
    & > div {
      width: 100%;
      .slide_text {
        width: 500px;
      }
    }
  }

  /*-main denominator-*/
  .inner {
    width: 100%;
    height: 1000px;
    position: relative;
  }

  .text_bubble {
    display: none;
  }

  .mobile_text_bubble {
    display: block;
    width: 300px;
    height: 500px;
    margin: 0 auto;
    z-index: 1;
    background: url(./img/mobile_text_box1.png) no-repeat center/100%;
    padding: 120px 10px 10px 10px;
    text-align: justify;
  }

  /*aboutme*/
  #aboutme {
    width: 100%;
    .inner {
      #aboutme_main {
        width: 100%;
        .main_box {
          align-items: center;
          width: 100%;
          .illust {
            display: flex;
            width: 500px;
            height: 300px;
            flex-direction: row;
            left: 50%;
            top: 40%;
            transform: translate(-50%, -50%);
          }
          .AMbubble {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      #about_bgimg {
        width: 100%;
        .back1 {
          width: 100%;
          height: 400px;
          align-items: center;
          margin-top: 200px;
        }
        .deco1 {
          bottom: 1120px;
          right: 55%;
          width: 200px;
          height: 40px;
        }
      }
    }
    #about_bgimg {
      width: 100%;
    }
  }

  /*favorite*/
  #favorite {
    width: 100%;
    .inner {
      #favorite_main {
        align-items: center;

        width: 100%;
        .main_box {
          width: 100%;
          height: 100%;
          .illust {
            display: flex;
            width: 500px;
            height: 300px;
            flex-direction: row;
            left: 50%;
            top: 40%;
            transform: translate(-50%, -50%);
          }
          .FMbubble {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translatex(-50%);
          }
        }
      }
      #favorite_bgimg {
        .deco2 {
          height: 800px;
          width: auto;
          top: 10px;
          right: 50%;
          transform: translateX(50%);
        }
        .back2 {
          height: 300px;
          width: 460px;
          border: 10px solid var(--bg-color-yellow);
          top: 200px;
          left: 50%;
          transform: translateX(-40%);
        }
      }
    }
  }

  /*personality*/
  #personality {
    width: 100%;
    .inner {
      #personality_main {
        align-items: center;
        width: 100%;
        .main_box {
          width: 100%;
          height: 100%;
          .illust {
            display: flex;
            width: 500px;
            height: 300px;
            flex-direction: row;
            left: 50%;
            top: 40%;
            transform: translate(-50%, -50%);
          }
          .PMbubble {
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      #personality_bgimg {
        .back3 {
          height: 420px;
          width: 460px;
          top: 160px;
          left: 44%;
          transform: translateX(-40%);
        }
        .deco3 {
          height: auto;
          width: 180px;
          top: 580px;
          left: 68%;
          transform: rotate(80deg) translateX(-40%);
        }
        .decoF3 {
          height: auto;
          width: 120px;
          top: 480px;
          left: 58%;
          transform: rotate(160deg) translateX(-40%);
        }
      }
    }
  }
}
