@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.contenes {
  position: relative;
  padding: 30px;
  width: 100%;
  height: 100%;
  background: #000;
}

#loginpage {
  position: absolute;
  width: 100%;
  height: 100%;
}

#login {
  position: absolute;
  top: 20px;
  right: 20px;
}

#login input[type="submit"] {
  font-size: 18px;
  background: #fff;
  border-radius: 12px;
  padding: 8px 45px;
  border: 1px solid transparent;
  &:hover {
    background: #000;
    border: 1px solid #fff;
    color: #fff;
  }
}

#logo {
  width: 300px;
  height: 26px;
  filter: invert(100%);
  background: url(./img/logo.svg) center/cover no-repeat;
  margin: 70px auto 34px;
}

#logon {
  width: 434px;
  height: 650px;
  background: radial-gradient(rgba(35, 37, 39, 0.7), rgba(35, 37, 39, 0.9));
  border: 1px solid rgb(60, 77, 230);
  box-shadow: 0 0 10px #6ee8f1;
  margin: 0 auto 50px;
  padding: 10px 15px;
}

.inner_contents {
  color: #fff;
  font-size: 14px;
}

.title {
  font-size: 26px;
  letter-spacing: 1px;
  font-family: "Do Hyeon", sans-serif;
  text-align: center;
  padding: 10px 0;
}

#calendar {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 30px;

  select {
    width: 141px;
    height: 40px;
    background: #000;
    border-radius: 10px;
    color: #ccc;
    padding: 2px 4px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid rgb(60, 77, 230);
    box-shadow: 0 0 3px #6ee8f1;
  }
}

.username #name {
  width: 100%;
  height: 36px;
  background: #000;
  border-radius: 10px;
  border: 1px solid rgb(60, 77, 230);
  box-shadow: 0 0 3px #6ee8f1;
  margin: 6px 0 30px;
}

.userpassword #password {
  width: 100%;
  height: 36px;
  background: #000;
  border-radius: 10px;
  border: 1px solid rgb(60, 77, 230);
  box-shadow: 0 0 3px #6ee8f1;
  margin: 6px 0 30px;
}

#gender_btn {
  display: flex;
  button {
    width: 100%;
    height: 50px;
    background: #000;
    border: 1px solid rgb(60, 77, 230);
    box-shadow: 0 0 3px #6ee8f1;
    color: #ccc;
    &:first-child {
      border-radius: 8px 0 0 8px;
    }
    &:last-child {
      border-radius: 0 8px 8px 0;
    }
    i {
      display: inline-block;
      width: 50px;
      height: 50px;
      font-size: 24px;
      padding: 10px;
      &.filledA {
        border-radius: 50px;
        border: 2px solid rgb(60, 77, 230);
        box-shadow: 0 0 5px #6ee8f1;
      }
      &.filledB {
        border-radius: 50px;
        border: 2px solid rgb(60, 77, 230);
        box-shadow: 0 0 5px #6ee8f1;
      }
    }
  }
}
